<div>
  <h2>{{ "COURSE.LIST.TITLE" | translate }}</h2>

  <div class='alert alert-danger' *ngIf='errorMessage'>{{errorMessage}}</div>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [sortType]="'multi'"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">
    <ngx-datatable-column name="Name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ "COURSE.NAME" | translate }}
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <i class="btn btn-link" (click)="onSelect(row.id)">{{value}}</i>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Espb">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ "COURSE.ESPB" | translate }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Level of studies name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ "COURSE.LEVELOFSTUDIES" | translate }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Department name">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{ "COURSE.DEPARTMENT" | translate }}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <i class="fa fa-trash-o" style="font-size:20px" (click)="delete(row.id)"></i>
        &nbsp;
        <i class="fa fa-edit" style="font-size:20px" (click)="edit(row.id)"></i>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  &nbsp;
  <div>
    <div class="float-right">
      <a [routerLink]="['/domain/course/new']" routerLinkActive="active"
         class="btn btn-primary btn-md table-header__btn"
         role="button">{{"BUTTON.ADD" | translate}}</a>
    </div>
  </div>
</div>
