
<div class="container"
     *ngIf="employee">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ "EMPLOYEE.VIEW.TITLE" | translate }}</h1>
    </div>
  </div>
  &nbsp;
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.NAME" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.name}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.SURNAME" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.surname}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.PIN" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.personalIdentificationNumber}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.DATEOFBIRTH" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.dateOfBirth}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.DATEOFEMPLOYMENT" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.dateOfEmployment}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.ADDRESS" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.address}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.TITLE" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.title}}</p>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">{{ "EMPLOYEE.VOCATION" | translate }}</label>
    <div class="col-8">
      <p class="form-control-static">{{ employee.vocation}}</p>
    </div>
  </div>
  &nbsp;
  <div class="form-group row">
    <div class="col">
      <button type="button" class="btn btn-default"
              (click)='goToBack()'><span class="fa fa-chevron-left"></span> {{ "BUTTON.BACK" | translate }}
      </button>
      <button type="button" class="btn btn-default"
              (click)='goToEdit()'><span class="fa fa-edit"></span> {{ "BUTTON.EDIT" | translate }}
      </button>
    </div>
  </div>
</div>
